html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
}

.left-part {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    min-height: 100vh;
    border-right: 1px solid #e5e5e5;
    /* overflow-y: auto; */
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100px;
}

.logo img {
    width: 100%;
}